.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:1rem;
    width:100%;
}
.container--employee {
     display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:1rem;
    width:100%;
}
.link {
    color: #000;
    text-decoration: none;
    margin-bottom: 2rem;
    font-size: 9rem;
    text-align: center;
}
.form {
    display: grid;
    grid-template-columns:  auto auto;
    grid-template-rows: auto auto;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}
.container--adress {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: rgb(230, 230, 230); */
    gap:1rem;
    /* padding:1rem; */
    width: 100%;
 
}
.button {
    height: 56px;
    align-self: end;

    display: flex;
    justify-content: center;
    align-items: center;
}
.link {
    padding: 2rem;
}