.header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 3rem 0;
    width: fit-content;
}
.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding:3rem 6rem;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:1rem;
}

